<section>
  <h2>Reset Password</h2>
<p>E-mail</p>
<form [formGroup]="resetPassForm" (ngSubmit)="onResetPass()" action="">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Enter Your E-mail</mat-label>
    <input formControlName="email" matInput placeholder="Placeholder">
  </mat-form-field>

  <p>OTP Verification</p>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Enter Verification</mat-label>
    <input formControlName="seed" matInput placeholder="Placeholder">
  </mat-form-field>

  <p>New Password</p>
  <mat-form-field class="w-100">
    <mat-label>Enter Your New Password</mat-label>
    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <p>Confirm Password</p>
  <mat-form-field class="w-100">
    <mat-label>Confirm New Password</mat-label>
    <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button type="submit" class="primary w-100">Save</button>
</form>
</section>
