<h2 class="mb-4 ">Change Your Password</h2>
<!-- changePassForm -->
<form class="mt-1" (ngSubmit)="onChangePass(changePassForm)" [formGroup]="changePassForm">
    <div class="row ">
        <!-- oldPassword input -->
        <div class="col-md-12">
            <div class="input-group my-2 ">
                <div class="input-contaniner">
                    <label class="ms-2">Old Password</label>
                    <input formControlName="oldPassword" [type]="hide? 'password':'text'" class="form-control ps-2"
                        placeholder="Enter your Old Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span (click)="hide=!hide" class="icon-input">
                    <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                </span>
            </div>
        </div>
        <!-- newPassword input -->
        <div class="col-md-12">
            <div class="input-group my-2 ">
                <div class="input-contaniner">
                    <label class="ms-2">New Password</label>
                    <input formControlName="newPassword" [type]="hide? 'password':'text'" class="form-control ps-2"
                        placeholder="Enter your New Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span (click)="hide=!hide" class="icon-input">
                    <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                </span>
            </div>
        </div>
        <!-- confirmNewPassword input -->
        <div class="col-md-12">
            <div class="input-group my-2 ">
                <div class="input-contaniner">
                    <label class="ms-2">Confirm New Password</label>
                    <input formControlName="confirmNewPassword" [type]="hide? 'password':'text'"
                        class="form-control ps-2" placeholder="Confirm New Password" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <span (click)="hide=!hide" class="icon-input">
                    <i class="fa-regular " [class]="hide? 'fa-eye-slash' :'fa-eye'"></i>
                </span>
            </div>
        </div>
        <!-- button submit -->
        <button type="submit" class="primary w-100 mt-4  ">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin " style="color: white;"></i>
            <span *ngIf="!isLoading">Save</span>
        </button>
    </div>
</form>