.input-contaniner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center !important;
    position: relative;

}

label {
    font-size: 13px;
    color: #ef9b28;
    margin-bottom: 0 !important;
    padding-bottom: 0;


}


.form-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: solid rgb(219, 211, 211) 1px !important;
    border-radius: 0 !important;
    padding-top: 0;
    padding-bottom: 0;

    &.form-control::placeholder {
        color: rgb(156, 154, 154) !important;
        font-size: 16px;
        margin-top: 0 !important;
        margin-bottom: 0px!important;
        padding-top: 0 !important;
    }
}

input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: solid rgba(255, 255, 255, 1) 0.1px !important;
    color: white !important;
}

input::content {
    color: white !important;
}

.icon-input {
    position: absolute;
    cursor: pointer;
    // height: auto;
    color: white;
    right: 2%;
    top: 43%;
    padding: 0px !important;
    margin: 0px !important;
}