<section>
  <article class="d-flex flex-column gap-5">
    <h2>Login</h2>

    <form [formGroup]="verifyForm" (ngSubmit)="onVerifyAccount(verifyForm)">
      <div class="row">
        <div class="col-md-12">
          <div>
            <mat-form-field class="d-block">
              <mat-label>E-Mail</mat-label>
              <input matInput placeholder="Please Enter Your E-Email" formControlName="email">
            </mat-form-field>
          </div>
          <mat-error *ngIf="verifyForm.get('email')?.touched && verifyForm.get('email')?.getError('required')"> E-Mail is
            Required </mat-error>
        </div>
        <div class="col-md-12">
          <div>
            <mat-form-field class="d-block" appearance="fill">
              <mat-label>Code</mat-label>
              <input matInput placeholder="Enter OTP" formControlName="code">
            </mat-form-field>
          </div>
          <mat-error *ngIf="verifyForm.get('code')?.touched && verifyForm.get('code')?.getError('required')"> Code is
            Required </mat-error>
        </div>

        <button class="primary mt-3">Save</button>
      </div>
    </form>

  </article>
</section>
