@import "../../../../styles.scss";

::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-floating-label,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: #fff !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

input::placeholder {
  color: #fff !important;
}

input {
  color: #fff !important;
}

::ng-deep mat-label {
  color: #fff;
}

::ng-deep mat-form-field:has(:visited, :focus) mat-label {
  color: var(--main-color);
}
