@import '../../../../styles.scss'; //import the global style sheet to use it in my component

p {
    color: $main-color; // Use the main color variable
  }

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){ //ng-deep to get deep inside element and can change property i need
    background-color: transparent ! important;
  }

  mat-label{
    color:white
  }
  
  