// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "ngx-toastr/toastr";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-manager-primary: mat.define-palette(mat.$yellow-palette,900);
$project-manager-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$project-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-manager-theme: mat.define-light-theme(
  (
    color: (
      primary: $project-manager-primary,
      accent: $project-manager-accent,
      warn: $project-manager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($project-manager-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Start Global style of the application
* {
  margin: 0 !important;
}
$main-transition: 0.3s linear;
$main-color: #ef9b28;
$main-dark-color: #0C0C0C;
$green-color: #0E382F;
$danger-color: #fa12409e;
$border-style: 2px solid;

// End Global style of the application

// Start Global Style of Auth Section
.auth-section {
  background-image: url(./assets/images/bg1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .auth-article {
    background-color: #31595190;
    width: 1219px;
    box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.1),
      -3px -3px 3px rgba($color: #000000, $alpha: 0.1),
      inset -3px -3px 3px rgba($color: #000000, $alpha: 0.1),
      inset 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
    // -webkit-box-reflect: below 0px
    //   linear-gradient(
    //     to bottom,
    //     rgba($color: #000000, $alpha: 0),
    //     rgba($color: #000000, $alpha: 0.4)
    //   );

    h2 {
      font-size: 2rem;
      color: $main-color;
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 2px;
        background-color: $main-color;
        width: 16px;
        height: 4px;
        transition: $main-transition;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

button {
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  border-color: transparent;
  outline: none;
  border-radius: 15rem;
  transition: $main-transition;
  font-weight: 600;
  letter-spacing: 3px;

  &.primary {
    background-color: $main-color;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $main-color;
      border: $border-style $main-color;
    }
  }

  &.primary-outline {
    background-color: transparent;
    color: $main-color;
    border: $border-style $main-color;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }

  &.dark {
    background-color: $main-dark-color;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $main-dark-color;
      border: $border-style $main-dark-color;
    }
  }

  &.dark-outline {
    background-color: transparent;
    color: $main-dark-color;
    border: $border-style $main-dark-color;

    &:hover {
      background-color: $main-dark-color;
      color: #fff;
    }
  }

  &.green {
    background-color: $green-color;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $green-color;
      border: $border-style $green-color;
    }
  }

  &.green-outline {
    background-color: transparent;
    color: $green-color;
    border: $border-style $green-color;

    &:hover {
      background-color: $green-color;
      color: #fff;
    }
  }

  &.danger {
    background-color: $danger-color;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $danger-color;
      border: $border-style $danger-color
    }
  }

  &.danger-outline {
    background-color: transparent;
    color: $danger-color;
    border: $border-style $danger-color;

    &:hover {
      background-color: $danger-color;
      color: #fff;
    }
  }
}

// End Global Style of Auth Section
